.SUB{
    width: 100%;
    text-align: center;
    background-color: azure; 
    color: brown;
    font-size:2em;
    font-weight: bolder; 
    float: left;
}
td{
    border-style: groove; 
    border-width: 1px; 
    border-color: green;
}
table{
    border-collapse: collapse;
}
tr td:last-child {
    width: 1%;
    white-space: nowrap;
}
.bang_chinh{
    background-color: black;
    color: greenyellow;
    width: 100%;
    font-size:1.2em;
    border-style: double;
    border-width: 5;
    border-color: red;
}
