.head{
    width: 100%;
    text-align: center;
    background-color: azure; 
    color: brown;
    font-size:4em;
    font-weight: bolder; 
    float: left;
}
.hc_head{
    text-align: center;
    background-color: aqua;
    border-width: 2px;
    border-color: brown;
}
td{
    padding: 5px;
    border-style: groove; 
    border-width: 1px; 
    border-color: brown;
}
table{
    border-collapse: collapse;
}
tr td:last-child {
    width: 1%;
    white-space: nowrap;
}